<dir class="container" style="margin:50 auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar novedad</h4>
            <form action="/admin/novedades/modificar" method="post" style="display: inline-block;">
                <div class="form-group">
                    <input type="text" class="form-control" value="{{novedad.titulo}}" name="titulo" placeholder="Titulo">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{novedad.cuerpo}}" name="cuerpo" placeholder="Cuerpo">
                </div>
                <button type="submit" class="btn btn-primary" style="display: inline-flex">Modificar</button>
            </form>
            {{#if error}}
                <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</dir>
