<main class="holder">
		<br>
		<div style="text-align: center;">
			<form action="https://formsubmit.co/05a2ec389c4f297f150b1e3219dd5521" method="POST">
				<input type="hidden" name="_next" value="contacto.html">
				<input type="hidden" name="_template" value="box">
				<input type="hidden" name="_captcha" value="false">
				<input type="text" name="name" placeholder="Nombre" required>
				<input type="email" name="mail" placeholder="Correo Electronico">
				 <textarea id="subject" name="subject" placeholder="Escribe tu mensaje" style="height:200px"></textarea>
				 <div>&nbsp;</div>
				 <button class="fcf-btn" type="submit">Enviar</button>
				 <div>&nbsp;</div>
			</form>
		</div>
	</main>