<main>
	<div class="holder">
		<div class="introduccion"> 
			<h2 style="text-align: center;">¿Qué es Dungeons and Dragons?</h2>
			<p style="text-align: center;">explicación bonita sobre de que trata el juego</p>
		</div>
		<div class="nav">
			<div class="holder">
			<ul style="text-align: center;">
				<li><a class="active" href="inicio.html">Bienvenido a D&D</a></li>
				<li><a href="personaje.html">Creando un personaje</a></li>
				<li><a href="juego.html">Dentro del juego</a></li>
			</ul>
			</div>
		</div>
		<div class="htpmaster">
			<div class="htp">
			<h2 style="text-align: center;">Como jugar</h2>
			<p style="text-align: center;">Al momento de jugar, Dungeons and Dragons se desarrolla siguiendo este simple patrón</p>
			</div>
			<div class="htpg">
				<div class="htpc">
					<h4 style="text-align: justify;">1. El DM describe la escena</h4>
				</div>
				<div class="htpc">
					<h4 style="text-align: justify;">2. Los jugadores describen como desean interactuar</h4>
				</div>
				<div class="htpc">
					<h4 style="text-align: justify;">3. El DM relata los resultados</h4>
				</div>
			</div>
		</div>
		<div class="die">
			<h2 style="text-align: center;">Dados de juego</h2>
			<p style="text-align: center;">El juego utiliza dados poliédricos con diferentes cantidad de lados</p>
		</div>
		<div class="coremaster">
			<div class="corer">
				<h2 style="text-align: center;">La regla central</h2>
				<p style="text-align: center;">Cuando el resultado de una accion sea incierto, el juego depende de tirar un d20 para determinar el exito o fracaso</p>			
			</div>
			<div class="coreg">
				<div class="core">
					<h4 style="text-align: center;">1. Tira el dado y suma el modificador</h4>
				</div>
				<div class="core">
					<h4 style="text-align: center;">2. Aplica bonificaciones o penalidades</h4>
				</div>
				<div class="core">
					<h4 style="text-align: center;">3. Compara el total contra el objetivo</h4>
				</div>
			</div>
		</div>
		<div class="container-ortr">
			<div class="tittle-ortr">
				<h2 style="text-align: center;">test</h2>
				<div class="ortr ortr1"><h4 style="text-align: center;">Nisi incididunt aliqua duis excepteur.</h4></div>
				<div class="ortr ortr2"><h4 style="text-align: center;">Irure et cupidatat.</h4></div>
				<div class="ortr ortr3"><h4 style="text-align: center;">Lorem ipsum sint aliquip irure laborum officia.</h4></div>
				<div class="ortr ortr4"><h4 style="text-align: center;">Sed reprehenderit consequat sunt.</h4></div>
			</div>
		</div>
	</div>
	</main>